*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}

#burger, [for=burger]{
  display: none;
}

.bg-image {
  background-image: url("photos/header.png"); 
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  padding-bottom: 450px;
}

.navbar{
  display: flex;
  padding: 30px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 35px;
}

.navbar li{
  list-style: none;  
  padding: 0;
  margin: 0;
}

.navbar li ul{
  display: none;
  height: 1px;
  width: 1px;
  margin: 0; 
  padding: 0; 
}

.navbar li ul li{
  margin: 0; 
  padding: 15px 0; 
  list-style: circle;
}


/*
.navbar li:hover ul li a{
  background-color: #444444;
  background-size: cover;
} */

.navbar li ul li a{
  font-size: 25px;
}

.navbar a{
	text-decoration: none;
  color: white;
  padding: 20px 30px 20px 20px;
}

.navbar li:hover ul{
  display: block;
}

.navbar a:hover, .footer a:hover {
  text-decoration: underline;
	color:silver;
}

.header-text{
  font-family: 'Italiana', serif;
  padding: 40px 0 20px 40px;
  font-size: 60px;
  width: 50%;
}

.header-text-description{
  font-family: 'Italiana', serif;
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  font-size: 50px;
  width: 35%;
}


/*Biography*/

.biography, .actor-1{
  background-color: #0F0F0F;
  font-family: 'Kranky', cursive;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 100px;
}

.line-aside{
  font-size: 40px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  display: flex;
  padding-left: 50px;
}

.line-aside p {
  padding-top: 20px; 
}

.biography img{
  height: 600px;
  width: 600px;
  object-fit:cover;
}

.text-biography, .text-actor-1{
  font-size: 38px;
  text-align: justify;
  padding-left: 20px;
}

.text-biography h3, .text-actor-1 h3{
  margin-top: 0;
  padding-top: 0;
  font-size: 60px;
  text-align: right;
}

.text-biography p, .text-actor-1 p{
  padding: 15px 0 10px 0;
}


/*Music*/

.music, .actor-2{
  background-color: white;
  font-family: 'Kranky', cursive;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 100px;
}

.text-music, .text-actor-2{
  font-size: 36px;
  text-align: justify;
  padding-right: 20px;
}

.text-music h3, .text-actor-2 h3{
  margin-top: 0;
  padding-top: 0;
  font-size: 60px;
  text-align: left;
}

.text-music p{
  padding: 15px 0 10px 0;
}

.text-actor-2 p{
  font-size: 28px;
  display: block;
  padding: 10px 0;
}

.actor-3{
  background-color: #0F0F0F;
  font-family: 'Kranky', cursive;
  color: white;
  text-align: center;
  justify-content: center;
  padding-bottom: 60px;
}

.actor-3 h3{
  text-align: left;
  font-size: 60px;
  padding: 30px 0 30px 200px;
}

iframe{
  width: 1000px;
  height: 600px
}


.family{
  background-color: white;
  font-family: 'Kranky', cursive;
  color: black;
}

.family h3{
  text-align: left;
  font-size: 50px;
  padding: 30px 0 20px 200px;
}

.main-photo{
  display: block;
  padding: 0 200px;
  margin: 0 auto;
  max-width: 80%;
}

.photo-family{
  display: flex;
  position: relative;
  justify-content: center;
  margin: 0;
  padding: 0 200px;
  margin-bottom: 20px;
}

.photo-container {
  position: relative;
  padding: 20px;
}

.photo-container img{
  width: 100%;
  height: 100%;
}

.caption {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  padding: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.photo-container:hover .caption {
  opacity: 1;
}

.photo-family img{
  transition: all 0.3s ease-in-out; 
}

.photo-family img:hover {
  opacity: 0.8; 
  transform: translate(0%, 0%) scale(1.1); 
}

.footer{
  background-color: black;  
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 250px;
}

.footer p {
  font-family: 'Zeyada', cursive;
  font-size: 50px;
  padding-left: 20px;
}

.footer a {
  font-family: 'Josefin Sans', sans-serif;
	text-decoration: none;
  color: white;
  font-size: 30px;
  padding: 25px;
}




.arrow-button {
  display: flex;
  color: #000000;
  background-color: #D9D9D9;
  padding: 10px 16px;
  border-radius: 20px;
  transition: all .3s ease;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  font-size: 20px;
  font-weight: 200;
}

.arrow-button > .arrow {
  width: 6px;
  height: 6px;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
  position: relative;
  transform: rotate(-45deg);
  margin: 0 6px;
  transition: all .3s ease;
}

.arrow-button > .arrow::before {
  display: block;
  background-color: currentColor;
  width: 3px;
  transform-origin: bottom right;
  height: 2px;
  position: absolute;
  opacity: 0;
  bottom: calc(-2px / 2);
  transform: rotate(45deg);
  transition: all .3s ease;
  content: "";
  right: 0;
}

.arrow-button:hover > .arrow {
  transform: rotate(-45deg) translate(4px, 4px);
  border-color: text-hover-color;
}

.arrow-button:hover > .arrow::before {
  opacity: 1;
  width: 8px;
}

.arrow-button:hover {
  background-color: #3b3b3b;
  color: #fff;
}

.feedback {
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.feedback form input,
.feedback form textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #eee;
  color: #000;
  font-size: 16px;
}

.feedback form button {
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.feedback form button:hover {
  background-color: #333;
}

@media (max-width: 393px) {

  .bg-image {
    background-image: url("photos/phoneHeader.png"); 
    margin: 0;
    padding: 0;
  }

  [for=burger]{
    color: #e9dede;
    display: block;
    position: fixed;
    width: 30px;
    text-align: left;
    right: 10px;
    top: 10px;
    font-size: 26px;
  }  
  [for=burger]::before{
    content: '☰';
  }
  #burger:checked + [for=burger]::before{
    content: '╳';
  }
  #burger:checked + label + .navbar{
    display: block;    
  }

  .navbar{
    display: none;
    position: fixed;
    flex-direction: column;
    margin-left: 0;
    top: 50px;
    padding: 0;
    padding-left: 100px;
    font-size: 16px;
    text-align: right;
    width: 96%;
    user-select: none;
    
  }

  .navbar li{
    padding: 0;
    margin-left: 160px;
    background-color: #777777;
  }

  .navbar a {
    margin: 0;
    padding: 0;
  }

  .navbar li:hover ul{
    display: none;
  }

  .header-text{
    font-family: 'Italiana', serif;
    margin: 0;
    padding: 0 70px;
    text-align: right;
  }
  
  .header-text-description{
    margin: 0;
    padding: 0;
    padding-left: 200px;
  }

  .biography, .actor-1{
    flex-direction: column;
    margin: 0;
    padding: 10px 30px;
  }

  .line-aside {
    display: none;
    font-size: 20px;
    transform: rotate(-90deg);
    padding: 0;
    margin: 0;
    top: 100px
  }
  
  .line-aside p {
    padding: 0; 
    margin: 0;
  }
  
  .biography img, .music img, .actor-1 img{
    height: 350px;
    width: 300px;
  }

  .actor-2 img{
    height: 350px;
    width: 270px;
  }

  .text-biography, .text-actor-1{
    font-size: 20px;
    padding: 0;
    margin: 0;
  }
  
  .text-biography h3, .text-actor-1 h3{
    padding: 0;
    margin: 0;
    font-size: 30px;
  }

  .text-biography p, .text-actor-1 p{
    font-size: 20px;
    padding: 5px 0;
  }

  .music, .actor-2{
    flex-direction: column-reverse;
    margin: 0;
    padding: 15px 30px;
  }

  .music > .line-aside, .actor-2 > .line-aside{
    display: none;
  }
  
  .text-music, .text-actor-2{
    font-size: 20px;
    padding: 0;
    margin: 0;

  }
  
  .text-music h3, .text-actor-2 h3{
    padding: 0;
    margin: 0;
    font-size: 30px;
  }
  
  .text-music p, .text-actor-2 p{
    font-size: 20px;
    padding: 5px 0;
    margin: 0;
  }

  .actor-3{
    padding: 10px 30px;
    margin: 0;
  }
  
  .actor-3 h3{
    font-size: 30px;
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
  }
  
  iframe{
    width: 300px;
    height: 200px
  }
  

  .family{
    padding: 10px 30px;
    padding-bottom: 15px;
    margin: 0;
  }

  .family h3{
    font-size: 30px;
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
  }
  
  .main-photo{
    padding: 10px;
    max-width: 100%;
  }
  
  .photo-family{
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    padding: 15px;

  }

  .photo-container img{
    width: 60%;
    height: 60%;
    margin: 0 auto;
  }
  
  .caption {
    position: absolute;
    margin-top: 200px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    padding: 5px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .footer{
    flex-direction: column;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
  }

  .footer p {
    padding: 0;
    margin: 0;
    font-size: 40px;
  }
  
  .footer a {
    padding: 5px 0;
    margin: 0;
    font-size: 30px;
    display: flex;
    flex-direction: column;
  }

  .feedback form input,
  .feedback form textarea {
    font-size: 8px;
  }
  
  .feedback form button {
    font-size: 8px;
  }

  .arrow-button {
    padding: 7px 8px;
    margin: 0;
    font-size: 10px;
    font-weight: 200;
  }
  
}

